{% extends "inicio.html" %}
{% load static %}
{% block title %}Vitrina{% endblock %}
{% block content %}


  {% for i in items %}
  
  <div class="card">
    <div class="img">      
      <div class="img_item">
        <img src="{{ i.image_url.url }}" alt="{{ item.title }} - Imagen de perfil">
    </div>
  </div>

    <div class="text">
      
      <p class="h3">{{ i.title }}</p>
      <p class="p">{{ i.description }}</p>
      <p class="p">${{ i.price }}</p>

      <div class="icon-box">
        <p class="span"><!-- Asegúrate de tener una vista y URL para agregar artículos al carrito -->
          <a href="{% url 'agregar_al_carrito' i.item_id %}" class="btn btn-info">Agregar al Carrito</a></p>
      </div>

     
    </div>
  </div>
  {% endfor %}




  
  <!-- Agrega más detalles según necesites -->

{% endblock %}